body {
    margin: auto;
    
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  /*.card article img
  .card footer
  .card header
  .card
  */
  /* Rulesets to be matched up with selectors */
  /*"General page styles"*/
  
  .card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
    
   
  }
  
    
  
  .card header{
    height: 38px;
    margin-bottom: 0;
    margin-top: o;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    text-align: left;
    font-size: 1.8em;
  }
  .card article{
    height: 12.0em;
    background-color: rgb(196, 24, 24);
    padding-left: 4.5px;
    color: seashell;
    
 
}
.card article img{
  max-height: 100%
  float: right;
  width: 12.0em;
  
}
.card article p{
  text-align: left;
  float: left;
  margin: 10px 111px 0px 0px;
  
}


.card footer {
  
  height: 38px;
  margin-top: 0;
  border: 0;
}

  .card footer p{ 
  font-size: 1.5em;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 10px 0px 0px;

  }
  

  /*styles specific to the setup of the card container*/
  /*styles specific to the header and footer*/
  /*styles specific to the main business card contents*/